{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!--The page will look similar to the login.html file, but with added password confirmation-->
    <form action="/register" method="POST">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <!--implement the confirmation password here-->
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password Again" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}